/*target {
	properties
}*/

* {
	font-family: 'Roboto', sans-serif;
}

h1,
h2 {
	font-family: 'Montserrat', sans-serif;
}

img {
	width: 250px;
	border-radius: 50%;
}

ul {
	list-style: none;
	padding: 0;
}

#landing, #gallery {
	height: 80vh;
	/*Center the elements vertically*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#gallery{
	border-radius: 0.3rem;
}

.tools {
	color: white;
	/* Create a nice and clean section for tools */
	padding: 20px;
	/*height: 200px;*/
	border:  3px solid #f2f2f2;
	border-radius: 0.3rem;
	margin: 25px;
	width: 75%;
}

h2 {
	color: #FDB813;
}

html {
	scroll-behavior: smooth;
}